VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=school-tj.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=school-tj
VITE_FIREBASE_STORAGE_BUCKET=school-tj.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=318872730370
VITE_FIREBASE_APP_ID=1:318872730370:web:c893d1d09c32c91b56601b
VITE_FIREBASE_MEASUREMENT_ID=G-NPWXP06N3J
    